
.div_inline {
	float: left;
	position: relative;
}
.account_create{
	margin-left: 20px;
	margin-top: 20px;
}
.account_create .title{
	margin-left: 0px;
	margin-top: 0px;
	padding-top: 10px;
}
.account_create .forms {
	width: 799px;
	min-height: 500px;
	float: left;
	position: relative;
}
.account_create .forms .form_table td{
	padding-top: 10px;
	vertical-align: top;
}
.account_create .forms input{
	width: 220px;
	border: 1px solid #9E9EC3;
	margin-right:50px;
}
.account_create .forms input.submit{
	width: 75px;
	height: 35px;
	border: 1px solid #9E9EC3;
}
.account_create .forms .err{
	border: 1px solid red;
}
.account_create .forms textarea{
	width: 530px;
	border: 1px solid #9E9EC3;
}
.account_create .forms .error{
	color: red;
}
.account_create .forms .form_table .title{
	width: 130px;
	vertical-align: top;
	font-weight: normal;
}
.account_create .forms div.form_submit{
	float: right;
	position: relative;
	
}

.account_create .forms .submit:after {
    border-bottom: 11px solid transparent;
    border-left: 11px solid #726FB2;
    border-top: 11px solid transparent;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: -11px;
    top: 0;
}

.account_create .forms  .submit {
    background-color: #726FB2;
    border: 0 none;
    color: #FFFFFF;
    cursor: default;
    display: block;
    float: right;
    height: 22px;
    line-height: 22px;
    margin-right: 22px;
    position: relative;
    text-align: center;
    width: 75px;
}