.cms{
	padding-left:20px;
	padding-top:20px;

}

.cms .item table{
	width:600px;
	font-size:15px;
}


.cms .item td{
	padding-top:5px;
	padding-bottom:5px;
}

.cms .discussion table{
	width:770px;
	border:thin;
	border-style:solid;
	
}

.cms .discussion th{
	border:thin;
	border-style:solid;
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
	padding:5px;
	background:#9e9ec3;
	color:#FFF;
	
}

.cms .discussion td{
	padding:5px;
}

.cms .discussion .checkbox{
	border:thin;
	
	vertical-align:middle;
	text-align:center;
	padding:5px;

}

.cms .submit{
	background-color: #726FB2;
	color: white;
	border:none;
	text-align: center;
	padding:5px;	
}

.cms .resources .post_link{
	padding:5px;

}


.cms .resources table{
	width:770px;
	border:thin;
	border-style:solid;
	
}

.cms .resources th{
	border:thin;
	border-style:solid;
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
	padding:5px;
	background:#9e9ec3;
	color:#FFF;
	
}

.cms .resources td{
	text-align:center;
	padding:5px;

}

.cms .resources .subject{
	text-align:left;
	padding-left:20px

}


.cms .resources .checkbox{
	border:thin;
	
	vertical-align:middle;
	text-align:center;
	padding:5px;

}

.cms .activities table{
	width:770px;
	border:thin;
	border-style:solid;
	
}

.cms .activities th{
	border:thin;
	border-style:solid;
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
	padding:5px;
	background:#9e9ec3;
	color:#FFF;
	
}

.cms .activities td{

	padding:5px;

}


.cms .activities .checkbox{
	border:thin;
	
	vertical-align:middle;
	text-align:center;
	padding:5px;

}

.cms .users table{
	width:770px;
	border:thin;
	border-style:solid;
	
}

.cms .users th{
	border:thin;
	border-style:solid;
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
	padding:5px;
	background:#9e9ec3;
	color:#FFF;
	
}

.cms .users td{

	padding:5px;

}


.cms .users .checkbox{
	border:thin;
	
	vertical-align:middle;
	text-align:center;
	padding:5px;

}

.cms .user_experience table{
	width:770px;
	border:thin;
	border-style:solid;
	
}

.cms .user_experience th{
	border:thin;
	border-style:solid;
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
	padding:5px;
	background:#9e9ec3;
	color:#FFF;
	
}

.cms .user_experience td{

	padding:5px;

}


.cms .user_experience .checkbox{
	border:thin;
	
	vertical-align:middle;
	text-align:center;
	padding:5px;

}


.cms .model table{
	width:770px;
	border:thin;
	border-style:solid;
	
}

.cms .model th{
	border:thin;
	border-style:solid;
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
	padding:5px;
	background:#9e9ec3;
	color:#FFF;
	
}

.cms .model td{

	padding:5px;

}


.cms .model .checkbox{
	border:thin;
	
	vertical-align:middle;
	text-align:center;
	padding:5px;

}

.cms .edit_model table{
	width:400px;
	
}

.cms .edit_model th{
	border:thin;
	border-style:solid;
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
	padding:5px;
	background:#9e9ec3;
	color:#FFF;
	
}

.cms .edit_model td{
	text-align:right;
	padding:5px;

}


.cms .edit_model .checkbox{
	border:thin;
	
	vertical-align:middle;
	text-align:center;
	padding:5px;

}