div.content {
	margin-left: 10%;
	margin-top: 50px;
	margin-right: 10%;
	margin-bottom: 100px;
	overflow: hidden;
	width: 80%;
}

.content div.divIcons {
	margin-left: 30%;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 30px;
	border-top-color: gray;
	border-top-width: 1px;
	border-top-style: solid;
}

.content div.divContainer {
	margin-left: 30%;
	color: black;
	font-size: 15px;
	line-height: 1.5;
}

.content .divContainer div.col1 {
	float: left;
}

.content .divContainer div.col2 {
	float: left;
	margin-left: 50px
}

.content p.mainTitle {
	font-size: 35px;
}

.content p.subTitle {
	font-size: 20px;
	color: white;
	background-color: rgb(26, 26, 26);
	padding-top: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
}

.content .divContainer span {
	font-weight: bold;
}