.slide {
	float: none;
	width: 100%;
	max-width: 100%;
	height: auto;
	clear: none;
	color: rgb(0, 0, 0);
	top: 0px;
	left: 0px;
}

#slideImage {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height:250px;
}

.content {
	
	width: 80%;
	margin: 5% 10%;
}

#developer a{
	cursor: pointer;
}

#developer .form-page.hidden {
	display: none;
}

#developer textarea {
	display: inline-block;
	
	width: 75%;
	resize: none;
}

#developer .tos {
	
	padding: 40px;
	width: 100%;
	
	
	background: #E7E5E2;
	color:black;
	line-height: 1.5em;
	font-size: 1.5em;
	overflow: hidden;
}

#developer .progress {
	text-align: justify;
	margin-top: 7px;
	padding: 1%;
	//width: 100%;
	overflow: auto;
	border: 1px solid #969696;
}

#developer .progress-form{
	height : 35px;
}

#developer ol#model_info {
	list-style-type: none;
}

#developer ol#model_info li {
	margin: 5px 0 5px 10px;
}

#developer h2 {
	color:black;
	font-weight: bold;
}

#developer div .labels {
	
	
	padding-left: 40px;
	padding-right:20px;
	padding-bottom: 20px;
	
	overflow: hidden;
}


#developer .error {
	font-size: 12px;
	color: red;
	display: none;
}

#developer .error_show {
	font-size: 12px;
	color: red;
}


.content .form-page label {
	display: inline-block;
	position: relative;

	width: 100%;
	
}


#developer #page1 .labels .label_left span {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	
	width: 22%;
}

#developer #page2 .labels .label_left>label>span {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	
	width: 75%;
}
#developer .uploaded{
	
	font-size: 1em;
	
}

#developer input[type=text]
{
	display: inline-block;
	width: 75%;
}



#developer select {
	display: block;
	margin-top: 2px;
	width: 50%;
}

#developer table, td, th{
	
	
	width: 100%;

	vertical-align:center;
}

#developer .progress_bar {
	/*background-color: #726fb2;*/
	
	color: #FFF;
	padding: 25px;
	font-size: 2.45em;
	border-radius: 400px;
	display: block;
	position: relative;	
	width: 60%;
	/*margin-top: 7px;
	margin-left: 20%;
	height: 22px;
	width: 150px;*/
	border: 0;
	text-align: center;
	margin-left: 20%;
	line-height: 22px;
	cursor: pointer;
}

#developer #progress-page #button_table .progress_button .progress_bar{
	padding: 0;
	margin-left: 20%;
}
#developer #progress-page #button_table .progress_button .progress_bar img{
width: 100%;
text-align: center;
}
#developer #progress-page{
	margin: 50px;
}

#developer .progress_col{
	background: #83807B;
	background: -webkit-linear-gradient(#83807B, #CDC9C4); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#83807B, #CDC9C4); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#83807B, #CDC9C4); /* For Firefox 3.6 to 15 */ 
	background:linear-gradient(#83807B, #CDC9C4);
	display: table; 
	table-layout: fixed; 
	width: 100%; 

}

#developer .progress_col li{
	display: table-cell;
	color:white;
	padding-left: 5px;

}

#developer .recevied{
	background: #FFAA00;
	background: -webkit-linear-gradient(#FFAA00, #FFDC5F); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(##FFAA00, #FFDC5F); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFAA00, #FFDC5F); /* For Firefox 3.6 to 15 */ 
	background:linear-gradient(#FFAA00, #FFDC5F);
}

#developer .recevied:after{
	content: "Recevied";
}

#developer .processing{
	background: rgb(130,180,70); /* For browsers that do not support gradients */ 
	background: -webkit-linear-gradient(rgb(130,180,70), rgb(200,225,155)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgb(130,180,70), rgb(200,225,155)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgb(130,180,70), rgb(200,225,155)); /* For Firefox 3.6 to 15 */   
	background:linear-gradient(rgb(130,180,70), rgb(200,225,155));
}

#developer .processing:after{
	content: "Processing";
}

#developer .complete{
	background: rgb(40,200,240); /* For browsers that do not support gradients */ 
	background: -webkit-linear-gradient(rgb(1,155,225), rgb(40,200,240)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgb(1,155,225), rgb(40,200,240)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgb(1,155,225), rgb(40,200,240)); /* For Firefox 3.6 to 15 */   
	background:linear-gradient(rgb(1,155,225), rgb(40,200,240));
}

#developer .complete:after{
	content: "Complete";
}

#user_models .update_button {
	background-color: #726fb2;

	color: #FFF;
	display: block;
	position: relative;
	height: 22px;
	width: 100%;
	border: 0;
	text-align: center;
	line-height: 22px;
	cursor: pointer;
}

#user_models #new_model_button {
	background-color: #00BFFF;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

#user_models .delete_button img{
	width : 30px;
}

#validation_alert .show{
	cursor: pointer;
	display: block;
	margin: 8px;
	color: #7575a9;
}

#validation_alert .show a{
	color: #7575a9;
}

#validation_alert .hidden{
	display: none;
	font-size: medium;
	margin: 5px;
}
#developer #button_table{
	padding:50px;
}

#developer #button_table table,#button_table td,#button_table th,.progress_table td,.progress_table th{
	
	font-size: 1.5em;
	line-height: 1.51em;
	font-family: 'Go A', 'Go B', 'Montserrat', sans-serif;
	width: 100%;
	color:black;

}

#developer .progress_button{
	width: 50%; 
	text-align: center;     
}

#developer .progress_table{

	width: 100%;	
}

#developer .progress_table th{
	border:2px solid;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

#developer .progress_table td{
	padding-top: 20px;
}

#developer td, th{
	padding:2px;
}

#user_models .scol {
	width: 20%;
}

#user_models .lcol {
	width: 35%;
}

#developer .sthead {
	width: 20%;
	//font-size: 13px;
}

#developer .lthead {
	width: 35%;
	//font-size: 13px;
}

#developer .thead {
	width: 15%;
	//font-size: 13px;
}
#developer .thead2 {
	width: 25%;
	//font-size: 13px;
}

#developer .tbody-scroll {
	margin-top: 50px;
	max-height:250px;
	//overflow-y: scroll;
}

#developer .small_cell {
	width: 10%;
}

#developer .col {
	width: 10%;
}
#developer .col2 {
	width: 20%;
}


#developer .submit {
	background-color: #4D4C4A;
	color: #FFF;
	display: block;
	position: relative;
	float: right;
	margin-top: 100px;
	margin-left: 22px;
	height: 32px;
	width: 95px;
	border: 0;
	text-align: center;
	line-height: 22px;
	cursor: pointer;
	padding: 5px 0px;
	font-size: 1.2em;
}

#developer .submitModelBut{
	background: rgb(1,155,225); /* For browsers that do not support gradients */ 
	background: -webkit-linear-gradient(rgb(40,200,240), rgb(1,155,225)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgb(40,200,240), rgb(1,155,225)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgb(40,200,240), rgb(1,155,225)); /* For Firefox 3.6 to 15 */   
	background:linear-gradient(rgb(40,200,240), rgb(1,155,225));
	color: #FFF;
	display: block;
	position: absolute;	
	top:120px;
	right:30px;
	float: right;
	border-radius: 400px;
	height: 32px;
	width: 200px;
	border: 0;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	padding:5px 0px;
	font-size: 1.8em;
}

#developer .save,
#developer .back,
#developer .next {
	background-color: #4D4C4A;
	color: #FFF;
	display: block;

	float: right;
	margin-top: 15px;
	margin-left: 800px;
	height: 25px;
	width: 150px;
	border: 0;
	text-align: center;
	line-height: 22px;
	cursor: pointer;
}

#developer .back:after {
	content: "";
	position: absolute;
	right: 95px;
	top: 0;
	display: block;
	height: 0;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-right: 11px solid #726fb2;
}

#developer .save:hover,
#developer .back:hover,
#developer .next:hover {
	font-weight: bold;
	margin-top: 14px;
	height: 24px;
	line-height: 24px;
}

#developer .save:active,
#developer .back:active,
#developer .next:active {
	font-weight: normal;
	background-color: #9595C2;
	margin-top: 15px;
	height: 22px;
	line-height: 22px;
}

#developer .back:hover:after {
	right: 95px;
	border-width: 12px;
}

#developer .save:hover:after,
#developer .next:hover:after {
	right: -12px;
	border-width: 12px;
}

#developer .back:active:after {
	border-right-color: #9595C2;
	right: 95px;
	border-width: 11px;
}

#developer .save:active:after,
#developer .next:active:after {
	border-left-color: #9595C2;
	right: -11px;
	border-width: 11px;
}

/* Dialog box */

div.ui-dialog {
	padding: 0;
}

div.ui-dialog,
div.ui-dialog div.ui-dialog-titlebar,
div.ui-dialog button {
	border: 1px solid #969696;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

div.ui-dialog  div.ui-dialog-titlebar  {
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	background-color: #969696;
	background-image: none;
	color: #FFF;
}

div.ui-dialog,
div.ui-dialog .ui-widget-content {
	border-color: #969696;
}


/*added by Grace*/

#developer .form-page{
	color:black;
	line-height: 1.5em;
	background: #E7E5E2;

	position: relative;

	margin-top: 25px;
	overflow: hidden;
}

#developer .form-page .formStepTitle{
	padding: 40px 40px;
	background: #E7E5E2;
}

#developer .form-page .label_right{
	width: 48%;
	background: white;
	float:right;
	padding:15px 15px;

}
#developer #page1 .label_right{

	height:400px;
}

#developer #page3 .label_left{
	background: white;
	padding:15px 15px;
	width: 48%;
}


.content .form-page .labels .label_left{
	float: left;
	width: 48%;
}



#developer #page2 .labels .label_left input[type=text]{
	width: 100%;	
}

#developer #page2 .labels .label_left div{
	float: right;
}

#developer #page4 .submit_area{
	float: right;
	width: 45%;
	background: white;
	position: absolute;
	top:30px;
	padding-bottom: 20px;
	z-index: 2;
	left: 53%;
	height:80%;
}

#developer #page4 .submit_area img{
	width: 200px;
	height: 200px;
	position: absolute;
	top:40px;
	left:40px;
}
#developer #page4 .labels{
	height: 210px;
}

#developer .form-page .uploadFile input[type="file"]{
	opacity:0;  
	width: 470px;
	height: 45px;
	position:absolute;
	top:0; left:0;
	cursor: pointer;

}
#developer .form-page .uploadFile{
	position: relative;

}
#developer .form-page .uploadFile span{
	font-size: 13px;
	font-weight: bold;
	color: rgb(0,113,185);
}

#developer .form-page .uploadFile .uploadImg{
	width: 40px;
	height: 40px;
	vertical-align: middle;

}

#developer .form-page .fileImg{
	height: 70px;
	width: 55px;
	vertical-align: text-top;
}

#developer .form-page .uploadMessage{
	float: right;
	width: 400px;
}
#developer .form-page .uploadMessage p{
	margin-bottom: 0px;

}

#developer #page2 .labels .label_left>span {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin: 0px 0px;
	width: 400px;
}

#developer #page1 .labels .label_right #imagePreview{
	height: 500px;
	margin: 20px 0px;
	max-width: 470px;
}

input[type="radio"] {
    display:none;
}

.content #page2 .labels .label_left input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    border-radius:  50%;
}

input[type="radio"] + label span {
     background-color:white;
}

input[type="radio"]:checked + label span{
     background-color:black;
}

.content #page2 .labels .label_left .radioBut{
	width: 50px;
	margin-left: 5px;
}

.content #page2 .labels .label_left label:not(:last-child){
	margin-bottom: 15px;

}

.content #page2 .labels .label_left .lastSpan{
	width: 100%;
	margin-bottom: 8px;
}

.content .form-page .labels hr{
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #eee;

}