#developer {
	margin: 20px;
	width: 85%;
}

#developer .form-page.hidden {
	display: none;
}

#developer textarea {
	display: inline-block;
	margin-top: 2px;
	width: 60%;
	resize: none;
}

#developer .tos {
	margin-top: 7px;
	padding: 2%;
	width: 96%;
	height: 250px;
	overflow: auto;
	border: 1px solid #9E9EC3;
}

#developer .progress {
	margin-top: 7px;
	padding: 1%;
	width: 96%;
	overflow: auto;
	border: 1px solid #9E9EC3;
}

#developer .progress-form{
	height : 35px;
}

#developer ol#model_info {
	list-style-type: none;
}

#developer ol#model_info li {
	margin: 5px 0 5px 10px;
}

#developer h3 {
	margin: 5px;
}

#developer div .labels {
	min-height: 320px;
	border-width:1px;
	border-style:solid;
}


#developer .error {
	font-size: 12px;
	color: red;
	display: none;
}

#developer .error_show {
	font-size: 12px;
	color: red;
}


#developer label {
	display: inline-block;
	position: relative;
	margin: 5px 5px 0 5px;
	width: 100%;
	font-size: larger;
}


#developer span {
	display: inline-block;
	vertical-align: middle
	position: relative;
	margin: 0px 0px;
	width: 35%
}

#developer .uploaded{
	padding-right: 25px;
	color: chocolate;
	font-size: smaller;
	width: 10%
}

#developer input[type=text]
{
	display: inline-block;
	width: 60%;
}

#developer input[type=file]
{
	display: inline-block;
	width: 25%;
}


#developer select {
	display: block;
	margin-top: 2px;
	width: 50%;
}

#developer .progress_bar {
	background-color: #726fb2;
	color: #FFF;
	display: block;
	position: relative;	
	float: left;
	margin-top: 7px;
	margin-left: 120px;
	height: 22px;
	width: 150px;
	border: 0;
	text-align: center;
	line-height: 22px;
	cursor: default;
}

#developer table, td, th{
	font-size: 12px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 100%;
	border:1px solid;
	text-align:center;
	vertical-align:center;
}

#developer td, th{
	padding:2px;
}

#developer .thead {
	width: 15%;
	font-size: 15px;
}

#developer .small_cell {
	width: 10%;
}

#developer .col {
	width: 15%;

}

#developer .progressbar_col{
	font-size: 15px;
}

#developer .submit {
	background-color: #726fb2;
	color: #FFF;
	display: block;
	position: relative;	
	float: right;
	margin-top: 15px;
	margin-left: 22px;
	height: 22px;
	width: 95px;
	border: 0;
	text-align: center;
	line-height: 22px;
	cursor: default;
}

#developer .save,
#developer .back,
#developer .next {
	background-color: #726fb2;
	color: #FFF;
	display: block;
	position: relative;	
	float: right;
	margin-top: 15px;
	margin-right: 10px;
	height: 22px;
	width: 95px;
	border: 0;
	text-align: center;
	line-height: 22px;
	cursor: default;
}

#developer .back:after {
	content: "";
	position: absolute;
	right: 95px;
	top: 0;
	display: block;
	height: 0;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-right: 11px solid #726fb2;
}

#developer .next:after {
	content: "";
	position: absolute;
	right: -11px;
	top: 0;
	display: block;
	height: 0;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-left: 11px solid #726fb2;
}

#developer .save:hover,
#developer .back:hover,
#developer .next:hover {
	font-weight: bold;
	margin-top: 14px;
	height: 24px;
	line-height: 24px;
}

#developer .save:active,
#developer .back:active,
#developer .next:active {
	font-weight: normal;
	background-color: #9595C2;
	margin-top: 15px;
	height: 22px;
	line-height: 22px;
}

#developer .back:hover:after {
	right: 95px;
	border-width: 12px;
}

#developer .save:hover:after,
#developer .next:hover:after {
	right: -12px;
	border-width: 12px;
}

#developer .back:active:after {
	border-right-color: #9595C2;
	right: 95px;
	border-width: 11px;
}

#developer .save:active:after,
#developer .next:active:after {
	border-left-color: #9595C2;
	right: -11px;
	border-width: 11px;
}
