#developer {
	margin: 20px;
	width: 85%;
}

#developer .form-page.hidden {
	display: none;
}

#developer textarea {
	display: block;
	margin-top: 2px;
	width: 100%;
}

#developer .tos {
	margin-top: 7px;
	padding: 2%;
	width: 96%;
	height: 250px;
	overflow: auto;
	border: 1px solid #9E9EC3;
}

#developer ol#model_info {
	list-style-type: none;
}

#developer ol#model_info li {
	margin: 5px 0 5px 10px;
}

#developer label {
	display: block;
	position: relative;
	margin: 8px 0;
}

#developer input[type=text],
#developer input[type=file]
 {
	display: block;
	margin-top: 2px;
	width: 100%;
}

#developer select {
	display: block;
	margin-top: 2px;
	width: 50%;
}

#developer .submit {
	background-color: #726fb2;
	color: #FFF;
	display: block;
	position: relative;	
	float: right;
	margin-top: 15px;
	margin-left: 22px;
	height: 22px;
	width: 75px;
	border: 0;
	text-align: center;
	line-height: 22px;
	cursor: default;
}

#developer .next {
	background-color: #726fb2;
	color: #FFF;
	display: block;
	position: relative;	
	float: right;
	margin-top: 15px;
	margin-right: 22px;
	height: 22px;
	width: 75px;
	border: 0;
	text-align: center;
	line-height: 22px;
	cursor: default;
}

#developer .next:after {
    content: "";
	position: absolute;
    right: -11px;
    top: 0;
	display: block;
	height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 11px solid #726fb2;
} 

#developer .next:hover {
	font-weight: bold;
	margin-top: 14px;
	height: 24px;
	line-height: 24px;
}

#developer .next:active {
	font-weight: normal;
	background-color: #9595C2;
	margin-top: 15px;
	height: 22px;
	line-height: 22px;
}

#developer .next:hover:after {
    right: -12px;
    border-width: 12px;
}

#developer .next:active:after {
	border-left-color: #9595C2;
	right: -11px;
    border-width: 11px;
}
