.discussion{
	padding-left:20px;
	padding-top:20px;
	width: 790px;
	min-height: 500px;
	float: left;	
	position: relative;
}
.discussion .active_users{
	border-bottom:solid;
	border-bottom-width:1px;
	border-bottom-color:#9E9EC3;
	
}
.discussion .active_users .active_users_title{
	color:#434367;
	margin-left:3px;
}

.discussion .bottom{
	width:inherit;
	float:left;
	display:inline
}

.discussion .bottom .posts{
	width:640px;
	float:left;
	padding-top:20px;
	border-right: solid;
	border-right-width:1px;
	border-right-color: #9E9EC3;
	padding-right:20px;
}


.discussion .bottom .posts .user_post{
	float:left;


}
.discussion .bottom .posts .user_post .leftcol{
	width:100;
	float:left;
	display:block;
	padding-right:10px;
}

.discussion .bottom .posts .user_post .displayname{
	text-align:center;

}

.discussion .bottom .posts .user_post .rightcol{
	width:530px;
	float:left;
	display:block;
}


.discussion .bottom .posts .user_post .rightcol .title{
	font-weight: bold;
	margin-top:0px;
	margin-bottom:0px;
	display:block;
}

.discussion .bottom .posts .user_post .rightcol .date{

	margin-bottom:10px;
}





.discussion .bottom .posts .post_tool{
	text-align:right;

}
.discussion .bottom .most_comments{
	text-align:center;
	padding-left:16px;
	float:left;
	padding-top:20px;
	width: 110px;

}

.discussion .bottom .most_comments .most_comment_title{
	text-align:center;
}

.user_icon{
	
	margin:3px;
	margin-right:20px;
	text-align:center;
}

.post_user_icon{
	
margin: 5px;
text-align: center;
overflow: hidden;
}




.post_details{
	padding-left:20px;
	padding-top:20px;
	width: 700px;
	min-height: 500px;
	float: left;	
}



.post_details .post_content{
display: block;
padding: 5px  5px 20px 5px ;
}

.post_details .post_title{
	padding-bottom:10px;
}

.post_details .comment{
	width:inherit;
	padding-top:8px;
	padding-left:10px;
	padding-bottom:10px;
	padding-right:10px;
	margin-top:15px;
	border:solid;
	border-width:1px;
	border-color:#9E9EC3;
	word-break: break-all; 
}

.post_details .comment .user_comment{
	display:block;
	padding-bottom:5px;
	word-break: break-all;
}
.post_details .comment .user_reply_info{
	display: block;
	color: #85859C;
	text-align:right;
}
.post_details  .reply{
	padding-top:20px;
	width:608px;
	display:block;
}


.post_details  .reply .textarea{
	margin-bottom:10px;

}

.post_details .reply .post_submit{
	
	float:right;
}

.post_details .rating {
	padding-bottom: 20px; 
} 

.post_details .rating strong {
	float: left;
	padding-right: 1em;
}

.post_details .rating .fivestar {
}

.discussion .posting{
	width:530px;
}

.discussion .posting .topic{
	padding-bottom:20px;
}

.discussion .posting .topic .subject{
	margin-left:20px;
}

.discussion .posting .content_title{
	padding-bottom:10px;
}
.discussion .posting .content{
	padding-bottom:10px;
}

.blog{	
	padding-left:20px;
	padding-top:20px;
	width: 700px;
	min-height: 500px;
	float: left;	
}

.blog .top{
	border-bottom:solid;
	border-width:2px;
	border-color:#9E9EC3;
	margin-bottom:25px;
}

.blog .bottom{
	padding:10px;
}

.blog .bottom .entries .user_entry{
	padding-bottom:20px;	
	
}

.blog .bottom .entries .user_entry .entry_topic{
	font-weight: bold;
	margin-top:0px;
	margin-bottom:0px;
	display:block;
}

.blog .bottom .entries .user_entry .content{
	padding:5px;
}

.blog .bottom .entries .user_entry .date{
	padding-bottom:10px;
}
.blog .bottom .entries .user_entry .entry_tool{
	padding-top:10px;
	padding-bottom:10px;
	text-align:right;
}

.form_submit {
padding-top:10px;
float: right;
bottom: 2px;

}

.submit:after {
    border-bottom: 11px solid transparent;
    border-left: 11px solid #726FB2;
    border-top: 11px solid transparent;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: -11px;
    top: 0;
}
.submit {
background-color: #726FB2;
border: 0 none;
color: white;
cursor: default;
display: block;
float: right;
height: 22px;
line-height: 22px;
margin-right: 22px;
position: relative;
text-align: center;
width: 75px;
}
 .date{
color: #85859C;
display: block;
padding-bottom:5px;
}


#error{
	 color: #F00;
}

.short_content{
	
	margin-bottom:10px;
}

.long_content{
	display:none;
	margin-bottom:10px;
}
 .readMore{
	padding-left:10px;
	padding-right: 10px;
	background: transparent url(../images/icons/forward-icon.png) no-repeat center right;
	width: 36px;

}


 .readLess{
	padding-left:10px;
	padding-right: 10px;
	background: transparent url(../images/icons/back-icon-active.png) no-repeat center right;
	width: 36px;

}
