a.post {
	display: block;
	padding-right: 10px;
	margin-right: 17px;
	background: transparent url(../images/icons/forward-icon.png) no-repeat center right;
	width: 32px;
	float: right;
}

a.post:hover,
a.post:active {
	background: transparent url(../images/icons/forward-icon-active.png) no-repeat center right;
}


#home .divider {
	border-bottom: 1px solid #9595C2;
	height: 20px;
	margin: 10px 15px;
}

#home .column {
	width: 358px;
	min-height: 200px;
	padding: 0 20px 10px 20px;
	float: left;	
	margin-right: -1px;
	border-left: 1px solid #85859C;	
	border-right: 1px solid #85859C;	
	position: relative;
}

#home {
	width: 800px;
}

/* General: List style */

#content ul.item-list {
	margin: 10px 0;
	padding: 0px;
}

#content ul.item-list li {
	list-style-type: none;
	display: block;
	margin: 5px;
	margin-top: 0.75em;
}

#content ul.item-list a:hover,
#content ul.item-list a:active {
	font-weight: normal;
	text-decoration: underline;
}

#content ul.item-list span.date {
	color: #85859C;
}

/*  i-MOS overview  */

#home #showcase {
	position: relative;
	float:left; 
	height: 180px; 
	width: 240px;
	margin-top: 45px;
	margin-left: 10px;
}

#home #showcase img {
	position: absolute;
	left: 0;
	top: 0;
}

#home #description {
	float: left; 
	width: 480px; 
	margin: 0 20px;
}

#home #description .title {
	margin: 20px 0;
	font-weight: normal;
}

#home #description .title h3 {
	font-size: 1.2em;
}

/* Info section (news & user experiences)  */

#home #info div.first {
	border-left: 0 solid #85859C;	
}

#home #info div.last {
	border-right: 0 solid #85859C;	
}


/* Activity styles */

#content #activity-page {
	margin: 20px;
}

#content #activity-page ul.item-list span {
	display: block;
}

#content #activities  ul.item-list span {
	display: block;
}

/* User experience styles */

#content span.user-detail {
	color: #85859C;
	text-align: right;
	padding: 0.5em 0.2em;	
	margin-left: 80px;
	display: block;
}

#content blockquote {
	display: inline-block;
	position: relative;
	padding: 0.5em 1em;
}

#content blockquote:before ,
#content blockquote:after {
	content: '"';
	font-size: 1.1em;
}

#content #experience-page {
	width: 90%;
	position: relative;
}

#content #experience-page,
#content #post-experience {
	margin: 20px;
}

#content #experience-page blockquote {
	padding: 1em 2em;
}

#content #experience-page ul.item-list {
	border-top: 0px solid #85859C;
}

#content #experience-page ul.item-list li {
	padding: 10px 0;
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 0px solid #85859C;
}


/* Post user experience page style */

#content #post-experience form {
	width: 540px;
	margin-top: 20px;
}

#content #post-experience form input {
	display: block;
	float: left;
	margin-right: 8px;
	margin-top: 2px;
}

#content #post-experience form textarea{
	width: 530px;
	border: 1px solid #9E9EC3;
	margin: 5px 0;
	display: block;
}

#content #post-experience textarea:focus, 
#content #post-experience textarea:active
{
	border: 2px solid #555; 
}

#content #post-experience form .error {
	border: 1px solid red;
}

#content #post-experience form .error-msg {
	color: red;
}

#content #post-experience form .submit
{
	background-color: #726fb2;
	color: #FFF;
	display: block;
	position: relative;	
	float: right;
	margin-right: 22px;
	height: 22px;
	width: 75px;
	border: 0;
	text-align: center;
	line-height: 22px;
	cursor: default;
}

#content #post-experience form .submit:after {
    content: "";
	position: absolute;
    right: -11px;
    top: 0;
	display: block;
	height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 11px solid #726fb2;
} 

#content #post-experience form .submit:hover {
	font-weight: bold;
	margin-top: -1px;
	height: 24px;
	line-height: 24px;
}

#content #post-experience form .submit:active {
	font-weight: normal;
	margin-top: 0;
	height: 22px;
	line-height: 22px;
}

#content #post-experience form .submit:hover:after {
    right: -12px;
    border-width: 12px;
}

#content #post-experience form .submit:active {
	background-color: #9595C2;
}

#content #post-experience form .submit:active:after {
	border-left-color: #9595C2;
	right: -11px;
    border-width: 11px;
}

#content #post-experience form label{
	display: block;
	margin: 10px 0;
}
