
.div_inline {
	float: left;
	position: relative;
}
.account_update{
	margin-left: 20px;
	margin-top: 20px;
}
.account_update .title{
	margin-left: 0px;
	margin-top: 0px;
	padding-top: 10px;
}
.account_update .forms {
	width: auto;
	min-height: 500px;
	float: left;
	position: relative;
}
.account_update .forms .form_table td{
	padding-top: 10px;
	vertical-align: top;
}
.account_update .forms input{
	width: 220px;
	border: 1px solid #9E9EC3;
	margin-right:50px;
}
.account_update .forms input.submit{
	width: 75px;
	height: 35px;
	border: 1px solid #9E9EC3;
}
.account_update .forms .err{
	border: 1px solid red;
}
.account_update .forms textarea{
	width: 530px;
	border: 1px solid #9E9EC3;
}
.account_update .forms .error{
	color: red;
}
.account_update .forms .form_table .title{
	width: 130px;
	vertical-align: top;
	font-weight: normal;
}
.account_update .forms .title{
	vertical-align: top;
	font-weight: normal;
	width: auto;
}
.account_update .forms div.form_submit{
    bottom: -140px;
    left: -140px;
	position:absolute;
}
.account_update .float_right{
	float: right;
	position:relative;
}
.account_update .submit:after {
    border-bottom: 11px solid transparent;
    border-left: 11px solid #726FB2;
    border-top: 11px solid transparent;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: -11px;
    top: 0;
}
.account_update .submit {
    background-color: #726FB2;
    border: 0 none;
    color: #FFFFFF;
    cursor: default;
    display: block;
    float: right;
    height: 22px;
    line-height: 22px;
    margin-right: 22px;
    position: relative;
    text-align: center;
    width: 75px;
}

.account_update .verification{
	margin-top:10px;
}

.account_update .user_pic{
	width: 799px;
	height: auto;
}

.account_update .pic{
	min-width: 80px;
	min-height: 60px;
	display: inline;
	float: left;
	border-style:solid;
	border-width:1px;
	padding: 10px;
}

.account_update .no_pic{
	bottom: 0px;
	position: absolute;
	width: inherit;
}

.account_update .pic_sel{
	display: inline;
	position: absolute;	
	padding-left: 10px;
	width: auto;
	
}
.account_update .photo_submit{
	display: inline;
	width: auto;
	position: absolute;
	bottom: 2px;
	right: 0px;
	
}
.account_update .pic_form{
	padding-top: 10px;
	width: 400px;
}
.account_update .user_pic{
	display: inline;
}
