.clearfix {
    overflow: auto;
    zoom: 1;
}

body {
    background-color: #FFF;
    font-family: 'Noto Sans', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Tahoma', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-family: 'Go A', 'Go B', 'Montserrat', sans-serif;
}

#page {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    /*width: 1280px;*/
    width: 100%;
    min-width: 1080px;
    /*padding-bottom: 1em;*/
    /* edit by Leon, remove homepage bottom padding */
    position: relative;
}

#main_content {
    display: inline;
    float: right;
    position: relative;
    /*width: 1280px;*/
    min-height: 500px;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 10%;
    min-width: 1060px;
}

a {
    color: rgb(41, 171, 226);
}

a:link {

	color: rgb(60,60,60);
    text-decoration: none;
}

a:visited {
	color: rgb(60,60,60);

    text-decoration: none;
}

a:hover {
    /* text-decoration: underline; */
	color: rgb(60,60,60);


}
a:active {
    /* text-decoration: underline; */
}
#MenuItemsBox li a{

	display: block;
}
#MenuItemsBox li:hover{
	background: #FFAA00; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #FFDC5F , #FFAA00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #FFDC5F, #FFAA00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #FFDC5F, #FFAA00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #FFDC5F , #FFAA00); /* Standard syntax (must be last) */
	font-weight: bold;
}
#MenuItemsBox li{

	padding:2% 8%;
}
#MenuItemsBox li:first-child{

	padding-top: 8%;
}
#MenuItemsBox li:last-child{

	padding-bottom: 8%;
}
#MenuItemsBox li:nth-child(3){

}
p {
    /* font-size: 1.15em; */
    line-height: 1.51em;
    color: rgb(0, 0, 0);
}
