/*
div.error_box {
	margin: 10px 0;
	padding: 8px;
}

div.error_box.ui-state-error {
	background-image: none;
}

div.error_box p.error {
	margin: 0 0 0 20px;
}

*/

/* General styles */

/*body {
	background-color: #FFF;
}

h1, h2, h3, h4 {
	display: block;
	clear: both;
}

h1, h2, h3 {
	margin: 0px;
	overflow: hidden;
}

h3 {
	margin-bottom: 20px;
}

h4 {
	margin-top: 25px;
}

table {
	width: auto;
}

table caption {
	font-size: 1.2em;
	color: #434367;
}

table tbody {
	border:0;
	margin-top: 10px;
}

table th {
	vertical-align: middle;
	padding: 5px 0;
	color: #434367;
}

table td {
	vertical-align: middle;
}

ol li {
	list-style-position: inside;
	margin: 3px 0;
}*/

#model-page {
    font-size: 12px;
    margin-left: 20px;
}

.icon-checkbox, .icon-checkbox:before {
	cursor: pointer;
}

.icon-checkbox + * {
	margin: 0 5px 0 -1em;
	cursor: pointer;
}

.hidden {
	display:none;
}

span.error {
	color: red;
	font-size: 15px;
}

p.error {
	display: block;
	width: 100%;
	color: red;
	margin: 8px 0 0 0;
}

/* Custom theme */

div.ui-tabs {
	border: none;
}

.ui-tabs ul.ui-tabs-nav {
	background: none;
	padding-left: 0;
	border: none;
}

.ui-widget-content , .ui-widget-content a {
	color: #7575a9;
}

.ui-tabs ul.ui-tabs-nav li {
	margin-top: 7px;
}

.ui-tabs ul.ui-tabs-nav li a {
	color: #494949;
	padding: .4em .8em;
}

.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected {
}

.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected a {
	cursor: default;
}

.ui-tabs ul.ui-tabs-nav li a:hover, .ui-tabs ul.ui-tabs-nav li a:active {
	font-weight: normal;
}

.ui-tabs div.ui-tabs-panel {
	border: 1px solid #B5BCC7;
	height: 425px;
	overflow: auto;
	padding: 1em 0.75em;
}

#loading p {
	color: #B5BCC7;
}

/* Model Name */
li#model_name_bar{
	float:right;
	border:none;

}

a#model_name{
	background-color:#FFF;
	padding-left:20px;
	padding-right:20px;
	color:#7575a9;
	cursor: default;
	pointer-events: none;
	font-weight:bold;

}



/* Dialog box */

div.ui-dialog {
	padding: 0;
}

div.ui-dialog,
div.ui-dialog div.ui-dialog-titlebar,
div.ui-dialog button {
	border: 1px solid #9E9EC3;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

div.ui-dialog  div.ui-dialog-titlebar  {
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	background-color: #9E9EC3;
	background-image: none;
	color: #FFF;
}

div.ui-dialog,
div.ui-dialog .ui-widget-content {
	border-color: #9E9EC3;
}

/* Model library side menu */

div.model-library div {
	overflow: auto;
	clear: both;
}

.model-library ul#model-lib-list {
    padding: 10px 0;
    margin:  0;
}

.model-library ul li {
    list-style: none;
}

.model-library ul .tree-icon {
    display: block;
    float: left;
}

div.model-library  #model-library-menu {
	position: absolute;
	z-index:2;
	padding: 10px 15px 10px 5px;
	width: 135px;
	border-color: #9e9ec3;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
	display: none;
	left: 0px;
	top: 0px;
}

.content {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

div.model-library  #model-library-menu li a {
	border: none;
	background: none;
}



div.model-library  #model-library-menu li a:hover,
div.model-library  #model-library-menu li a:active {
	font-weight: bold;
}

div.model-library  #model-library-menu li font {
	border: none;
	background: none;
	/*float: left;*/
	display: block;
	padding: 5px 5px 5px 0px;
	position: relative;
	cursor: pointer;
}

div.model-library  #model-library-menu li font:hover,
div.model-library  #model-library-menu li font:active {
	font-weight: bold;
}

#side_menu .model-library h2 a.action {
	color: #FFF;
	display: block;
	float: right;
	padding: 2px 5px;
	position: relative;
	z-index: 15;
	margin-right: 2px;
}

#side_menu .model-library h2 a.action.active {
	color: #9e9ec3;
	background-color: #FFF;
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px;
}

#side_menu .model-library h2 a.action.active:hover {
	font-weight: normal;
}

#side_menu .model-library ul.model-lib {
	list-style: none;
	margin: 5px 0;
}

#side_menu .model-library ul.model-lib li {
	border: 1px solid #EFEFEF;
	display: block;
	padding: 3px 5px;
	margin: 5px 0;
	overflow: hidden;
	font-size: 0.95em;
}

#side_menu .model-library ul.model-lib li a {
	display: block;
	float: left;
	word-break: break-all;
	max-width: 78%;
}

#side_menu .model-library ul.model-lib li a.action {
	display: block;
	float: right;
    font-weight: normal;
}

/* side menu for benchmark*/

div.model-benchmark-side-menu div {
	overflow: auto;
	clear: both;
}

.model-benchmark-side-menu ul#model-lib-list {
    padding: 10px 0;
    margin:  0;
}

.model-benchmark-side-menu ul li {
    list-style: none;
}

.model-benchmark-side-menu ul .tree-icon {
    display: block;
    float: left;
}

#side_menu .model-benchmark-side-menu h2 a.action {
	color: #FFF;
	display: block;
	float: right;
	padding: 2px 5px;
	position: relative;
	z-index: 15;
	margin-right: 2px;
}

#side_menu .model-benchmark-side-menu h2 a.action.active {
	color: #9e9ec3;
	background-color: #FFF;
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px;
}

#side_menu .model-benchmark-side-menu h2 a.action.active:hover {
	font-weight: normal;
}

#side_menu .model-benchmark-side-menu ul.model-lib {
	list-style: none;
	margin: 5px 0;
}

#side_menu .model-benchmark-side-menu ul.model-lib li {
	border: 1px solid #EFEFEF;
	display: block;
	padding: 3px 5px;
	margin: 5px 0;
	overflow: hidden;
	font-size: 0.95em;
}

#side_menu .model-benchmark-side-menu ul.model-lib li a {
	display: block;
	float: left;
	word-break: break-all;
	max-width: 78%;
}

#side_menu .model-benchmark-side-menu ul.model-lib li a.action {
	display: block;
	float: right;
    font-weight: normal;
}

/*  none overflow */
div.no-overflow{
	overflow:hidden !important;
}

/* Model simulation page */

.toolbar {
	display: block;
	margin: 5px 0 15px 0;
	line-height: 25px;
	overflow: hidden;
	padding: 0 12px;
}

.toolbar .action {
    margin: 0 5px;
    cursor:  pointer;
	float: left;
	display: block;
}

.toolbar .action i {
    padding-right: 5px;
}

.toolbar a.action:hover {
	font-weight: bold;
}

.toolbar a.action,
.toolbar a.action:active {
	font-weight: normal;
	/*padding: 10px;*/
}

.toolbar a.action.disabled {
    cursor: default;
	font-weight: normal;
	color: #ADADAD;
}

.toolbar a.action.disabled:hover,
.toolbar a.action.disabled:active {
	font-weight: normal;
}

.toolbar .action i.icon-checkbox{
    padding-right: 0;
}

.inputs select {
	margin: 0;
	min-width: 85px;
}

.inputs label {
	text-align: left;
	position: relative;
}

.inputs input {
	margin: 0 10px 0 0;
}

.inputs input[type="text"] {
	width: 80px;
}

/* Description tab */

#description .details {
	display: block;
	margin: 10px 0 20px 0;
	position: relative;
	overflow: hidden;
}

#description div.structure-figure {
	float: right;
	width: 300px;
	margin: 0 10px;
}

#description .structure-figure img {
	display: block;
	max-width: 300px;
	margin: 0 auto;
}

#description .structure-figure.full {
	width: 100%;
	margin: 0 auto;
	float: left;
}

#description .structure-figure.full img {
	display: block;
	max-width: 95%;
	margin: 0 auto;
}

#description h4 {
	clear: none;
}

/* Bias tab */

#bias .action.delete {
	display: block;
	float: right;
}

#bias table {
	margin: 20px;
}

#bias table th, #bias table td {
	padding-right: 10px;
}

#bias table td  {
	padding-top: 5px;
	padding-bottom: 5px;
}

#bias .info {
	display: block;
	margin: 30px 0 0 20px;
}

/* Parameters tab */

div#user-param-sets h4,
div#param-sets h4 {
	margin: 8px 7px;
}

#param-tabs label {
	margin: 5px 5px;
	display: inline-block;
	line-height: 22px;
	width: 230px;
	min-height: 26px;
	overflow: hidden;
	vertical-align: top;
}

#param-tabs label span {
	color: #434367;
	width: 120px;
	display: inline-block;
	vertical-align: middle;
	padding-right: 10px;
}

#param-tabs label input {
	vertical-align: top;
	display: inline-block;
	width: 70px;
}

#param-tabs label select {
	vertical-align: middle;
	display: inline-block;
	min-width: 75px;
}

#param-tabs div.ui-tabs-panel {
	max-height: 275px;
	min-height: 150px;
	height: auto;
	margin-bottom: 10px;
	padding: 1em 0;
}

/* Parameter Search */

#search_param{
	width: 150px;
	border-radius: 5px;
	border: solid 1px #bfbfe6;
	padding: 3px 5px;
    float: right;
	display: block;
}

::-webkit-input-placeholder {
   color: #bfbfe6;
}

:-moz-placeholder { /* Firefox 18- */
   color: #bfbfe6;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #bfbfe6;
}

:-ms-input-placeholder {
   color: #bfbfe6;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
	max-width: 210px;
    /* prevent horizontal scrollbar */
    /* overflow-x: hidden; */
}

font.desc {
	font-style: italic;
	font-size: 10px;
}

/* Input Param */

input.param_inputs {
	width: 70px;
	border-radius: 3px;
	border: solid 1px #B5BCC7;
	padding: 3px 5px;
}

select.param_inputs {
	width: 80px;
	border-radius: 3px;
	border: solid 1px #B5BCC7;
	padding: 3px 0px;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
	height: 300px;
}

/* Output Variable tab */

#output .inputs .output-var {
	display: block;
	float: left;
	padding: 15px 10px;
	width: 230px;
	overflow: hidden;
}

#output .inputs .output-var span {
	color: #434367;
	display: block;
	float: left;
	width: 50px;
}

#output .inputs .output-var a {
	margin: 0 10px 0 0;
}

/* Result tab */

#result-container {
	display: block;
	clear: both;
}

#result-container .graph-container {
	display: block;
	position: relative;
	width: 92%;
	padding: 0 2% 5px 2%;
	overflow: hidden;
	border: 2px solid #B5BCC7;
	margin: 0 auto;
}

.graph-wrapper {
	position: relative;
	display: block;
	width: 100%;
	height: 96%;
	padding: 2% 0;
	overflow: hidden;
	cursor: auto;
}

#result-container .graph-wrapper {
	padding: 0;
}

.graph-wrapper a.close {
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 1.5em;
}

.graph-wrapper a.saveas {
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 1.5em;
}

.graph-area {
	display: block;
	width: 95%;
	height: 95%;
	min-height: 325px;
	margin: 0 auto;
}

#result-container .graph-container .graph-area {
	cursor: url('../images/icons/magnify.cur'), pointer !important;
	cursor: -moz-zoom-in, pointer;
}

/* Comment tab */
#comments a.submit {
	color: #FFF;
}

/* Model list page */
.ApplicatonName {
	font-weight: bigger;
}

#model-list {
	width: 100%;
}


#MLitemBox {
    /*float: left;*/
    height: auto;
    /*margin-left: auto;
    margin-right: auto;*/
    /* margin-top: 435px; */
	padding: 18px;
    clear: both;
	display: block;
    /*width: 73%;*/
	width: 100%;
}

.modelBoxContainer {
    float: left;
	clear: none;
	height: auto;
    width: 17%;
	margin: 13px;
}

.modelBoxes{
	height: auto;
    width: 147px;
    margin: 0px auto;
	background-color: white;
    -webkit-box-shadow: rgb(157, 157, 157) 2.5px 1.8px 0.4em 0px;
    box-shadow: rgb(157, 157, 157) 2.5px 1.8px 0.4em 0px;
}

.modelImage {
    float: none;
    width: 90%;
	max-width: 100%;
    height: 98px;
    margin-left: auto;
    /* margin-top: 27px; */
	padding-top: 27px;
    clear: both;
    color: rgb(0, 0, 0);
    margin-right: auto;
	display: block;
}

@font-face{
   font-family: DINPro;
   src: url('../fonts/DINPro-Regular.ttf');
}

.modelInfo {
    float: none;
    width: 85.362975%;
    height: auto;
    text-align: left;
    margin: 24px auto 0px;
    clear: none;
    min-height: 60px;
	font-family: DINPro;
    color: rgb(0, 0, 0);
	font-size: 0.7em;
    line-height: 1.2em;
	padding-left: 10px;
	/*font-weight: 500;*/
}

.modelGreyBox {
    float: none;
    height: 25px;
    margin-left: auto;
    /*margin-top: 15px;*/
    clear: none;
    width: 100%;
    background-color: rgb(77, 77, 77);
    margin-right: auto;
}

.MessageIcon {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 4.5%;
    margin-top: 6px;
    clear: none;
    color: rgb(0, 0, 0);
}

.MessageNumber {
    float: left;
    font-size: 1em;
    width: 19.516034%;
    height: auto;
    text-align: left;
    line-height: 1em;
    margin-left: 2.99036%;
    margin-top: 6px;
    clear: none;
    min-height: 19px;
    color: rgb(230, 230, 230);
}

.modelRatingStars {
	float: right;
    width: 42%;
    clear: none;
    margin-right: 1.5%;
}
.ratingStar {
    float: right;
    width: 0.7em;
    max-width: 100%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
	margin-top: 7px;
    margin-right: 1%;
}
.ratingLightStar {
    color: rgb(255,255,0);
}
.ratingDimStar {
    color: rgb(0, 0, 0);
}

#info {
	float: right;
	width: 24%;
	height: 762px;
	background-color: #E4E4E4;
}

.full-screen-cover {
	width:100%;
	height:100%;
	position:fixed;
	left:0px;
	top:0px;
	padding-top:20px !important;
	background-color:white;
	z-index:1000;
}

.full-screen-cover * {
	cursor: default;
}

/*The following is the equalizer part*/

.equalizer {float: left; margin-top: 10px; text-align: center;}
.equalizer .equalizer-minmax {float: left;}
.equalizer .equalizer-minmax .eq-table .eq-changeable th {padding-top: 5px; padding-bottom: 5px; text-align: right;}
.eq-slider {float: left; margin: 0px 5px 0px 5px;}
.eq-slider .eq-range {height: 200px; margin-left: 31px; margin-top: 7px}
.eq-slider .eq-max {width: 70px; text-align: center;}
.eq-slider .eq-min {width: 70px; text-align: center;}
.eq-slider .eq-val {width: 70px; text-align: center;}


#add_param{
	width: 150px;
	border-radius: 5px;
	border: solid 1px #bfbfe6;
	padding: 3px 5px;
}
#equalizer-temp {
	display: block;
	position: relative;
	overflow: hidden;
	border: 2px solid #B5BCC7;
	margin-top: 30px;
	margin-left: 13px;
	margin-right: 13px;
	visibility: hidden;
}

#eq-panel{
	display: none;
}

#add-title{
	margin: 0;
}
#eq-deleteall,#eq-run{
/*	background: #9e 9ec3;*/
	border: none;
	/*color: #fefefe;*/
	cursor: pointer;
	display: inline-block;
	margin: 4px 10px 0 0;
	padding: 4px 5px;
	position: relative;
	text-decoration: none;
}


#eq-expand{

}

/*
 * Following code is adjusted by Leon,
 * for the temp version
 */

.post_details {
    padding-left: 20px;
    padding-top: 20px;
    width: 700px;
    min-height: 500px;
    float: left;
}

.post_details .comment {
    width: inherit;
    padding-top: 8px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-top: 15px;
    border: solid;
    border-width: 1px;
    border-color: #9E9EC3;
}

.post_details .comment .user_comment {
    display: block;
    padding-bottom: 5px;
}

.post_details .comment .user_reply_info {
    display: block;
    color: #85859C;
    text-align: right;
}

.post_details .rating {
    padding-bottom: 20px;
}

.post_details .rating > strong {
    float: left;
    margin-right: 10px;
}

.post_details .rating .fivestar {
    float: left;
}

.post_details .rating .starrate_msg {
    float: right;
}

#symdg {
    width: 150px;
}

.post_details .comment_title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.posts .reply {
    margin-top: 10px;
    width: 100%;
}

.posts .reply form {
    width: 100%;
}

.form_submit {
    padding-top: 10px;
    float: right;
    bottom: 2px;
    margin-right: 50px;
}

.submit {
    background-color: #726FB2;
    border: 0 none;
    color: white;
    cursor: default;
    display: block;
    float: right;
    height: 22px;
    line-height: 22px;
    margin-right: 22px;
    position: relative;
    text-align: center;
    width: 75px;
}

.submit:after {
    border-bottom: 11px solid transparent;
    border-left: 11px solid #726FB2;
    border-top: 11px solid transparent;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: -11px;
    top: 0;
}
