
.div_inline {
	float: left;
	position: relative;
}
.newPass{
	margin-left: 20px;
	margin-top: 20px;
}
.newPass .title{
	margin-left: 0px;
	margin-top: 0px;
	padding-top: 10px;
}
.newPass .forms {
	width: 799px;
	min-height: 500px;
	float: left;
	position: relative;
}
.newPass .forms .form_table td{
	padding-top: 10px;
	vertical-align: top;
}
.newPass .forms input{
	width: 250px;
	border: 1px solid #9E9EC3;
	margin-right:50px;
}
.newPass .forms input.submit{
	width: 75px;
	height: 35px;
	border: 1px solid #9E9EC3;
}
.newPass .forms .err{
	border: 1px solid red;
}
.newPass .forms .error{
	color: red;
}
.newPass .forms .form_table .title{
	width: 100px;
	vertical-align: top;
	font-weight: normal;
}
.newPass .forms div.form_submit{
    bottom: -140px;
    left: -140px;
	position:absolute;
}
.newPass .float_right{
	float: right;
	position:relative;
}
.newPass a.submit:after {
    border-bottom: 11px solid transparent;
    border-left: 11px solid #726FB2;
    border-top: 11px solid transparent;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: -11px;
    top: 0;
}
.newPass a.submit {
    background-color: #726FB2;
    border: 0 none;
    color: #FFFFFF;
    cursor: default;
    display: block;
    float: right;
    height: 22px;
    line-height: 22px;
    margin-right: 22px;
    position: relative;
    text-align: center;
    width: 75px;
}
.newPass td.submit {
    padding-right: 40px;
}
