/** jQuery UI customized theme */

div.ui-tabs {
	border: none;
}

.ui-tabs ul.ui-tabs-nav {
	background: none;
	padding-left: 0;
	border: none;
}

.ui-widget-content , .ui-widget-content a {
	color: #969696;
}

.ui-tabs ul.ui-tabs-nav li {
	margin-top: 7px;
}

.ui-tabs ul.ui-tabs-nav li a {
	color: #494949;
	padding: .4em .8em;
}

.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected {
}

.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected a {
	cursor: default;	
}

.ui-tabs ul.ui-tabs-nav li a:hover, .ui-tabs ul.ui-tabs-nav li a:active {
	font-weight: normal;
}

.ui-tabs div.ui-tabs-panel {
	border: 1px solid #B5BCC7;
	height: 400px;
	overflow: auto;
	padding: 1em 0.75em;
}

#param_tabs div.ui-tabs-panel {
	max-height: 180px;
	min-height: 100px;
	height: auto;
	margin-bottom: 10px;
	padding: 1em 0;
}

#alert {

}

div.ui-dialog.alert-box {
	padding: 0;
}

div.ui-dialog.alert-box,
div.ui-dialog.alert-box div.ui-dialog-titlebar,
div.ui-dialog.alert-box button {
	border: 1px solid #969696;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

div.ui-dialog.alert-box div.ui-dialog-titlebar  {
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	background-color: #969696;
	background-image: none;
	color: #FFF;
}

div.ui-dialog.alert-box button {
	background-color: #969696;
	border-color: #969696;
	background-image: none;
	color: #FFF;
	min-width: 70px;
}

div.ui-dialog.alert-box,
div.ui-dialog.alert-box .ui-widget-content {
	border-color: #969696;
}

.alert-icon {
	background: transparent url('../images/icons/alert_icon.png') no-repeat left center;
	min-height: 64px;
	padding-left: 70px;
	padding-top: 5px;
}

h1, h2, h3, h4 {
	clear: both;
}

h1, h2, h3 {
	margin: 0px;
}

h3 {
	margin-bottom: 20px;
}

h4 {
	margin-top: 25px;
}

table {
	width: 100%;
}

table tbody {
	border:0;
	margin-top: 10px;
}

table td {
	vertical-align: top;
}

ol li {
	list-style-position: inside;
	margin: 3px 0;
}

#tab_container {
	margin-top: 15px;
}

#tab_container a.action_button {
	display: block;
	float: right;
	margin-right: 15px;		
	padding: 5px 5px 5px 18px;
}

#tab_container a.load_params {
	background: transparent url('../images/icons/upload-icon.png') no-repeat left center;
}

#tab_container a.dl_params {
	background: transparent url('../images/icons/download-icon.png') no-repeat left center;
}

#tab_container a.save_set {
	/*background: transparent url('../images/icons/save-icon-small.gif') no-repeat left center;*/
}

#tab_container a.clone_set {
	background: transparent url('../images/icons/clone-icon.gif') no-repeat left center;
}

#tab_container a.action_button:hover {
	font-weight: bold;
}

#tab_container a.action_button:active {
	font-weight: normal;
}

#tab_container .menu_item {
	display: block;
	line-height: 24px;
	height: 24px;
}

#tab_container a.left_but, 
#tab_container a.right_but,
#tab_container a.default_button, 
#tab_container a.btn_submit {
	background-color: #969696;
	color: #FFF;
	display: block;
	position: relative;	
	float: right;
	margin-top: 15px;
	margin-right: 1em;
	height: 24px;
	border: 0;
	padding: 0 5px;
	text-align: center;
	line-height: 24px;
	cursor: default;	
}

#tab_container a.btn_submit,
#tab_container a.default_button,
#tab_container .menu_item {
	margin-top: 15px;
	margin-right: 1em;
	padding: 0 5px;
	float: left;
}

#tab_container .menu_item * {
	vertical-align: middle;
}

#tab_container a.left_but:hover, 
#tab_container a.right_but:hover, 
#tab_container a.default_button:hover, 
#tab_container a.btn_submit:hover {
	font-weight: bold;
	margin-right: 0.8em;
}

#tab_container a.left_but:active, 
#tab_container a.right_but:active, 
#tab_container a.default_button:active,
#tab_container a.submit:active {
	background-color: #9595C2;
	font-weight: normal;
	margin-right: 1em;
}

#tab_container a.right_but:after {
    content: "";
	position: absolute;
    right: -12px;
    top: 0;
	display: block;
	height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #969696;
} 

#tab_container a.right_but:active:after {
	border-left-color: #9595C2;
}


#tab_container a.left_but:before {
    content: "";
	position: absolute;
    left: -12px;
    top: 0;
	display: block;
	height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #969696;
} 

#tab_container a.left_but:active:before {
	border-right-color: #9595C2;
}

.but_container {
	margin-left: 10px;
	display: block;
	clear: both;
	overflow: hidden;
}

#result-container {
	display: block;
	clear: both;
}

div.simulation_block div {
	overflow: auto;
}

.params select {
	float: right;
	margin: 0 20px 0 0;
	display: block;
	min-width: 85px;
}

.params label {
	text-align: left;
	font-size: 12px;
	margin-left: 30px;
	padding: 10px 0;
	width: 90%;
	display: block;
	position: relative;	
}

.params input {
	float: right;
	margin: 0 20px 0 0;
	display: block;	
}

.params input[type="text"] {
	width: 80px;
}

#bias table td {
	width: 50%;
	border: 0;
	position: relative;
}

#bias select {
	width: 155px;
}

#params label {
	margin-left: 2%;
	margin-right: 0;
	width: 48%;
	float: left;
}

#params .no-param-set {
	padding: 0 10px;
	font-style: italic;
}
	
#params .param-set {
	cursor: default;
	display: block;
	float: left;
	position: relative;
	padding: 5px 10px 5px 10px;
	margin: 2px 9px 2px 9px;
	border: 1px solid #969696;
}

#params .param-set:hover {
	border-width: 2px;
	margin: 1px 8px 1px 8px;
}

#params .param-set-active {
	border-width: 2px;
	background-color: #EFEFFF;
	margin: 1px 8px 1px 8px;
	font-weight: bold;
}

#side_menu a.circle {
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
	text-align: center;	
	background-color: #969696;
	color: #FFF;
	cursor: default;
	display: inline-block;
}

#side_menu a.circle:hover {
	background-color: #9595C2;
}

#side_menu a.delete {
	padding: 0 1px 1px 0;
	-webkit-text-size-adjust: none;
	font-weight: bold;
	width: 10px;
	height: 10px;
	font-size: 10px;	
	line-height: 10px;
	margin: 3px 0 0 8px;
	color: #FFF;
	background-color: #9595C2;
}

#side_menu a.delete:hover {
	background-color: #999999;
	margin: 2px -1px 0 7px;
	width: 12px;
	height: 12px;
	font-size: 12px;	
	line-height: 12px;
}

#side_menu a.delete:active {
	margin: 3px 0 0 8px;
	width: 10px;
	height: 10px;
	font-size: 10px;	
	line-height: 10px;
}

div#user-param-sets h4,
div#param-sets h4 {
	margin: 8px 7px;
}

#output table {
	padding: 0;
	width: 70%;
	margin: 0 0 0 50px;
}

#output table tr {
	height: 20px;
}

#output table th, #output table td {
	width: 40px;
}

#output table th {
	padding: 0 0 8px 0;
	margin: 0;
	text-align: center;
}

#output table td {
	padding: 0;
	margin: 0;
}

#output label {
	width: 90%;
	text-align: right;
	display: inline-block;	
	padding: 0 10% 0 0;
	margin: 3px 0;
	position: relative;
}

#output  input {
	margin: 5px auto;
	display: block;
}

#description .details {
	display: block;
	margin: 10px 0 20px 0;
	position: relative;
	overflow: hidden;
}

#description div.structure-figure {
	float: right;
	width: 300px;
	margin: 0 10px; 
}

#description .structure-figure img {
	display: block;	
	max-width: 300px;
	margin: 0 auto;
}

#description .structure-figure.full {
	width: 100%;
	margin: 0 auto;
	float: left;
}

#description .structure-figure.full img {
	display: block;	
	max-width: 95%;
	margin: 0 auto;
}

#description h4 {
	clear: none;
}

.hidden {
	display:none;  
}

span.error {
	color: red;
	font-size: 15px;
}

p.error {
	display: block;	
	width: 100%;
	color: red;
	margin: 8px 0 0 0;
}

div.error_box {
	margin: 10px 0;
	padding: 8px;
}

div.error_box.ui-state-error {
	background-image: none;
}

div.error_box p.error {
	margin: 0 0 0 20px;
}

div.graph-container {
	display: block;
	position: relative;
	width: 82%;
	padding: 3px 2% 0 2%;
	height: 325px;
	border: 2px solid #B5BCC7;
	margin: 15px auto 0 auto;
}

div.graph-container a.dl-link {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 5px 0 20px;
	background: transparent url('../images/icons/save-icon-small.gif') no-repeat left center;
	height: 15px;
	font-weight: normal;
	font-size: 10px;	
}

div.blockMsg a.dl-link-big {
	position: fixed;
	top: 0;
	left: 175px;
	padding: 0 0 0 30px;
	margin: 15px 0 0 20px;
	background: transparent url('../images/icons/save-icon-big.gif') no-repeat left center;
	height: 20px;
	line-height: 20px;
	font-size: 1.25em;
	font-weight: normal;
}

div.blockMsg a.dl-link-big:hover {
	font-weight: bold;
}

div.graph-container a.btn-upload-data {
	position: absolute;
	top: 0;
	right: 125px;
	padding: 5px 5px 0 20px;
	background: transparent url('../images/icons/upload-icon-small.png') no-repeat left center;
	height: 15px;
	font-weight: normal;
	font-size: 10px;	
}

div.blockMsg a.btn-upload-data {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 0 0 30px;
	margin: 15px 0 0 20px;
	background: transparent url('../images/icons/upload-icon-big.png') no-repeat left center;
	height: 20px;
	line-height: 20px;
	font-size: 1.25em;
	font-weight: normal;
}

div.blockMsg a.btn-upload-data:hover {
	font-weight: bold;
}

.graph-area {
	display: block;
	width: 95%;
	height: 95%;
	margin: 2.5% 0 0 5px;
}

div.graph-container .graph-area {
	cursor: url('../images/icons/magnify.cur'), pointer !important;
	cursor: -moz-zoom-in, pointer;
}

a.close {
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
	display: block;
	position: fixed;
	padding: 0 1px 0 0;
	top: 8px;
	right: 8px;
	width: 22px;
	height: 22px;
	font-size: 21px;
	line-height: 22px;
	text-align: center;
	font-weight: bold;
	background-color: #969696;
	color: #FFF;
	cursor: default;
	z-index: 1100;
}

a.close:hover {
	margin-top: -2px;
	right: 6px;
	width: 26px;
	height: 26px;
	font-size: 25px;
	line-height: 26px;
}

a.close:active {
	background-color: #9595C2;
	margin-top: 0px;
	right: 8px;
	width: 22px;
	height: 22px;
	font-size: 21px;
	line-height: 22px;
}

#loading p {
	color: #B5BCC7;
}

#side_menu ul li.current
{
	list-style-image: url("../images/icons/list-style-expanded.png");
}

#side_menu ul.user-params
{
	list-style: none;
	padding: 0;
}

#side_menu ul.user-params li
{
	border: 1px solid #EFEFEF;
	display: block;
	padding: 3px 5px;
	margin: 5px;
	overflow: hidden;
	font-size: 0.95em;
}

#side_menu ul.user-params li a
{
	display: block;
	float: left;
	word-break: break-all;
	max-width: 78%;
}

#side_menu ul.user-params li a.delete
{
	display: block;
	float: right;
}

#side_menu a.action {
	border: 1px solid #969696;
	display: block;
	position: relative;	
	float: right;
	margin: 10px 3px;
	height: 20px;
	padding: 0 5px;
	text-align: center;
	line-height: 20px;
	cursor: default;	
	width: 25px;
	float: left;
}

#side_menu a.action:hover {
	font-weight: bold;
	width: 29px;
	margin: 10px 2px;
}

#side_menu a.action:active {	
	font-weight: normal;
}

#side_menu div {
	clear: both;
}