#slideBox {
    float: none;
    height: auto;
    clear: none;
    width: 1280px;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    min-width: 0px;
    z-index: auto;
    margin-left: auto;
    margin-right: auto;
}

.slide {
	float: none;
	width: 100%;
    max-width: 100%;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
	top: 0px;
    left: 0px;
}

#slideImage {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
}
#slideText {
    float: left;
    font-size: 4.5em;
    width: auto;
    height: auto;
    text-align: left;
	font-family: 'Go A', 'Go B', 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.15em;
    clear: none;
    min-height: 0px;
    position: absolute;
    top:10%;
    left: 100px;
    color: rgb(255, 255, 255);
    bottom: auto;
    right: 0%;
    z-index: 1;
}
/* Resources content  */

.title {
	font-family: 'Go A', 'Go B', 'Montserrat', sans-serif;
	color:white	!important;
	background: black;
	height: 30px;
	padding-top: 10px;
	padding-left: 15px;
	font-size: 1.5em;
}

.sub_title{
	text-align:left; 
	float:left; 
	margin-top:10px; 
	margin-left: 15px;"
}

a.more {
	float: right;
	position:relative;
	font-size: 0.7em;
	padding-top: 3px;
	color:white		!important;
}


a.post {
	//display: block;
	float: right;
	position:relative;
	color:white 	!important;
	padding-top: 3px;
	font-size: 0.7em;
}

.documents{
	margin-left:800px;	
}

#page #content ul {
	display: block;	
	
}

#page #content ul.item-list {
	padding: 0px;
	margin-left: 350px;
	overflow-x: hidden;
	/*line-height: 1.8em;*/
	color: #4E4E4E;
}

#page #content  ul.item-list li {
	list-style-type: none;
	display: block;
	margin: 13px 5px 18px;
}

#page #content  ul.item-list li .date {
	list-style-type: none;
	display: block;
}

#page #content  ul.item-list a.link {
	color: #4E4E4E;
	font-weight: 500;
	display: block;
	/*margin: 2% 10%;*/
	margin-bottom: 12px;
	word-wrap: break-word;
}

#page #content  ul.item-list a.link:hover,
#page #content  ul.item-list a.link:active {
	font-weight: normal;
	text-decoration: underline;
}

#page #content .entry {
	margin: 3px 0;
	display: inline-block;
	font-size: 1.05em;
	line-height: 1.1;
	//border-bottom: 1px solid #9E9EC3;
	color: #4E4E4E;
}

#page #content .entry:hover,
#page #content .entry:active {
	font-weight: normal;
}

#page #content span.name {
	font-weight: bolder;
}

#page #content span.description {
	color: #4E4E4E;
/*	display: block;
	margin: 5px;
	width: 80%; */
}

#page #content span.date {
	
	font-size: 1em;
}

#page #content span.user-detail {
	color: #4E4E4E;
	text-align: left;
	padding: 0.5em 0.2em;	

	display: block;
}

#page #content span.website  {
	padding-top:5px;
	display: block;	
	color: #4E4E4E;
}
#page #content span.website a.link:hover,
#page #content span.website a.link:active {
	text-decoration: underline;
	font-weight: normal;
}

/* Resource index page columns */

#page #resources {
	width: 980px;
	margin: 10px 150px;
	position: relative;
	float: left;
}

#page #resources .row {
	position: relative;
	clear: both;
}

#page #resources .block {
	float: left;
	width: 344px;
	min-height: 150px;
	padding: 10px 20px 10px 20px;
	margin: 10px 0;
}

#page #resources .block ul.item-list a.link {
	color: inherit;
	font-style: normal;
	display: block;
	margin: 0 5px;
}

/* Resource page content */

#page #resource-content {
	width: 85%;
	margin: 20px;
}

#page #resource-content .title{
	margin-top:0px;
}

#page #resource-content .tools {
	padding-top:10px;
	text-align:right;
}

#page #resource-content ul.item-list li .date {
	list-style-type: none;
	display: block;
	margin: 0px 0px;
}
/*posting form*/

#page #post_forms{
	
	padding-left:140px;
	padding-top:70px;
	width: 790px;
	min-height: 500px;
	float: left;	
	position: relative;
}

#page #post_forms .form {
	color:#85859C;
	width: 900px;
	min-height: 500px;
	float: left;
	position: relative;
}

#page #post_forms .form .form_table{
	line-height:30px;
	background-color: #E3E3E3;
	padding-top: 25px;
	padding-bottom: 50px;
	padding-left: 40px;
	padding-right: 40px;
	overflow: hidden;
}


#page #post_forms .form .form_table td.label{
	vertical-align: top;
	width:320px;
	color: #4E4E4E;
	padding-bottom:10px;
}



#page #post_forms .form .form_table input.field {
width: 400px;
height: 25px;
border: 1px solid; 
border-color: #E3E3E3;
}

#page #post_forms .form .form_table input.required {
width: 400px;
height: 25px;
border: 1px solid;
border-color: #E3E3E3;
}

#page #post_forms .form .form_table select {
width: 70px;
height: 25px;
border: 1px solid; 
border-color: #E3E3E3;
}

#page #post_forms .form .form_table textarea {
width: 500px;
border: 1px solid;
border-color: #E3E3E3;
}


#page #post_forms .form .form_table  .form_submit {
padding-top: 60px;
padding-left: 100px;
float: right;
bottom: 1px;

}

/*#page #post_forms .form .form_table .submit:after {
    border-bottom: 11px solid transparent;
    border-left: 11px solid #726FB2;
    border-top: 11px solid transparent;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: -11px;
    top: 0;
}*/

#page #post_forms .form .form_table .submit {
background-color: #4E4E4E;
border: 0 none;
color: white;
cursor: default;
display: block;
float: right;
height: 22px;
line-height: 22px;
margin-right: 22px;
position: relative;
text-align: center;
width: 75px;
}


#page #post_forms .form .form_table label.error {
	display:block;
	color:red;

}

#page #post_forms .form .form_table input.error {
	border-color:red;
}

#page #post_forms .form .form_table  textarea.error {
	border-color:red;
}

#page #resources #pageTitle{
	font-size: 4em;
	font-weight: bolder;
    text-align: left;
	font-family: 'Go A', 'Go B', 'Montserrat', sans-serif;
	margin-top: 40px;
}

.postSeparateLine{
	display: block;
	float: right;
	color:white;
	position:relative;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 0.7em;
	padding-top: 3px;

}

.item-list .entryTitle{
	color:black;
	font-size: 1.2em;
	font-weight: bold;
}

a.return-link{
	float: right;
	margin-top: 0px		!important;
	font-size: 0.7em;
	padding-top: 3px;
	padding-right: 15px;
	/*color:white		!important;*/
	color: #4E4E4E;
}

.entryTitle{
	font-size: 3em;
	line-height: 1em;
	padding:10px 0px;
}
.details{
	color:black		!important;
	margin-left: 250px;
	font-family: 'Go A', 'Go B', 'Montserrat', sans-serif;
	line-height: 1.5em;
	font-size: 1.2em;
}