.header {
    height: 64px;
    background-color: rgb(26, 26, 26);
}

.header .logo {
    float: left;
    width: 15%;
    margin: 0px;
}

.header .logo img {
    width: 100%;
}

.header .menu {
    float: left;
}

.header .submenu {
    float: left;
}

.header .search {
    float: left;
}

.header .user {
    float: left;
}