/*#graphResult{
	margin-top: 20px;
}*/
#clickgroup{
	display: inline-block;
	margin-left: 20px;
}
.graphbold{
	margin-left: 18px;
}
#addtoLib1{
	margin-left: 18px;
	margin-top: 12px;
}
#addtoLib2{
	margin-left: 18px;
	margin-top: 12px;	
}