body{
	font-family: "Arial", "Helvetica", sans-serif;	
	font-size: 12px;
	color: #7575a9;
}

body a:link,
body a:visited,
body a:active,
body a:hover{
	font-size: 12px;
	text-decoration:none;
	color: #7575a9;
}

h2{
	font-size: 18px;
	color:#8989b6;
}
.invisible{
	display: none;
}
#page-wrapper #page .title{
	color: #434367;
	font-size: 16px;
	font-family: "Arial", "Helvetica", sans-serif
}

#page-wrapper #page .subtitle{
	color: #434367;
	font-size: 14px;
}
#page-wrapper #page .content{
	color: #85859c
}
#page-wrapper #page{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	padding: 0;
}
#page-wrapper #page #header{
	display:inline;
	float: left;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
	width: 960px;
	height: 105px;
	background-image:url("../img/header_bg.png");
	background-repeat: repeat-x;
}
#page-wrapper #page #header #logo{
	display:inline;
	float: left;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
	width: 400px;
	height: 105px;
}
#page-wrapper #page #header #site_logo{
	padding-top: 30px;
	padding-left: 15px;
}

#block-user-login{
	display:inline;
	float: right;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	width: 270px;
	height: 105px;
}
#block-user-login label{
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	display: block;
}

#block-user-login .form-required{
	display: none;
}
#block-user-login .user-login-form{
	margin: 0px;
	padding: 0px;
}
#block-user-login .form-item{
	display:inline;
	float: left;
	position: relative;
	margin: 0px;
	padding: 0px;
	width: 130px;
}
#block-user-login .item-list{
	display:inline;
	float: left;
	position: relative;
	width: 180px;
	margin-top: 3px;
}
#block-user-login .item-list ul{
	list-style-type:none;
	display:inline;
	margin : 0px;
	padding : 0px;
}

#block-user-login .item-list li{
	margin: 0;
	font-size: 14px;
	color: #FFF;
}
#block-user-login #edit-submit{
	float: right;
	margin-top: 10px;
	margin-right: 15px;
}
#header_bar_margin{
	clear:both;
	height: 6px;
	width: 960px;
	background-color:#fff;
	padding-top:1px;
	padding-bottom:0px;
}
#header_bar{
	clear:both;
	height: 5px;
	width: 960px;
	background-color:#7575a9;
}
#page-wrapper #page #header{
	display:inline;
	float: left;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
	width: 960px;
	height: 105px;
	background-image:url("../img/header_bg.png");
	background-repeat: repeat-x;
}

#main_menu{
	display:inline;
	float: left;
	position: relative;
	width: 960px;
	height: 22px;
}
#main_menu ul.menu{
	display:inline;
	float: left;
	position: relative;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display:inline;
	width: 960px;
	background-image:url("../img/main_menu.png");
	background-repeat: repeat-x;
}
#main_menu ul.menu li{
	display:inline;
	float: left;
	position: relative;
	padding: 0px 0px 0px 0px;
	margin-right: 0px;
	margin-left: 0px;
	list-style-position: inside;
	list-style-style: none;
	display:inline;
	height:22px;
	width: 136px;
	text-align:center;
	border-right: 1px solid #fff;
}
#main_menu ul.menu li:last-child{
	border-right: 0px solid #fff;
}
#main_menu   ul.menu li a:link,
#main_menu   ul.menu li a:visited,
#main_menu   ul.menu li a:active,
#main_menu   ul.menu li a:hover{
	color: #fff;
	font-size: 14px;
	text-decoration:none;
}

#main_menu  .content ul.menu li.first{
}
#main_menu  .content ul.menu li.last{
}

#page-wrapper #page #main_page{
	display:inline;
	float: left;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
	width: 960px;
}
#page-wrapper #page #main_page #first_row{
	display:inline;
	float: left;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
	width: 137px;
}
#page-wrapper #page #main_page #content{
	display:inline;
	float: left;
	position: relative;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 0px;
	width: 800px;
}

#page-wrapper #page #main_page #content .form_img img{
	width: 230px;
	
}
#page-wrapper #page .region-sidebar-first .block {
	border: 1px solid #9e9ec3;
	margin-top: 1px;
	margin-bottom: 5px;
	padding: 2px;
	min-height: 60px;
}
#page-wrapper #page .region-sidebar-first .block label{
	margin-top: 4px;
	margin-bottom: 8px;
	font-size: 12px;
	color:#8989b6;
}

#page-wrapper #page .region-sidebar-first .block h2{
	margin: 0px;
	font-size: 12px;
	color: #fff;
	background-color: #9e9ec3;
	height: 22px;
	padding-top: 2px;
	padding-left: 5px;
	padding-bottom: 0px;
}
#page-wrapper #page #first_row #block-search-form .form-text{
	margin-top: 12px;
	border: 1px solid #bfbfe6;
	font-size: 12px;
	width: 125px;
}
#page-wrapper #page #first_row #block-search-form {
	border: 1px solid #9e9ec3;
	margin-top: 1px;
	margin-bottom: 5px;
	padding: 5px;
}

#page-wrapper #page #first_row #block-search-form label{
	margin-top: 4px;
	margin-bottom: 8px;
	font-size: 12px;
	color:#8989b6;
}
#page-wrapper #page #first_row #block-search-form .form-text{
	margin-top: 12px;
	border: 1px solid #bfbfe6;
	font-size: 12px;
	width: 125px;
}
#page-wrapper #page #first_row #block-search-form .form-submit{
	border: 1px solid #bfbfe6;
	background-color: #a2a2ce;
	color: #fff;
	font-size: 12px;
	margin-left: 92px;
	margin-top: 5px;
}

#page-wrapper #page #first_row #block-menu-menu-device-type-{
	min-height: 140px;
}

#page-wrapper #page #first_row ul
{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	color: #7575a9;
	list-style-position: inside;
	list-style-image:url("../img/list-style.png");
}
#page-wrapper #page #first_row ul li.last
{
	font-size: 12px;
	color: #7575a9;
	list-style-position: inside;
	list-style-image:url("../img/list-style.png");
}
#page-wrapper #page #first_row ul li{
	margin: 0px 0px 2px 5px;
	padding: 0px;
}
#page-wrapper #page #first_row ul li.first{
	margin-top: 2px;
	padding: 0px;
}
#page-wrapper #page #first_row a:link,
#page-wrapper #page #first_row a:visited,
#page-wrapper #page #first_row a:active,
#page-wrapper #page #first_row a:hover{
	font-size: 12px;
	color: #7575a9;
	text-decoration: none;
}
#page-wrapper #page #footer{
	display:inline;
	float: left;
	position: relative;
	width: 960px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 5px;
	border-bottom: 1px solid #c2c2cd;
	border-top: 1px solid #c2c2cd;
	text-align:center;
}

#page-wrapper #page #footer ul.menu{
	display:inline;
	position: relative;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#page-wrapper #page #footer ul.menu li{
	display:inline;
	position: relative;
	padding: 0px 5px 0px 5px;
	margin-right: 0px;
	margin-left: 0px;
	list-style-position: inside;
	list-style-style: none;
	text-align:center;
	border-right: 1px solid #9595c2;
}

#page-wrapper #page #footer ul.menu li.last{
	border-right: 0px none #fff;
}
#page-wrapper #page #footer a:link,
#page-wrapper #page #footer a:visited,
#page-wrapper #page #footer a:active,
#page-wrapper #page #footer a:hover{
	color: #9595c2;
	font-size: 14px;
	text-decoration:none;
}



#page-wrapper #page #main_page #home_panel,
#page-wrapper #page #main_page #home_panel .home_panel{
	width: 800px;
	display:inline;
	float: left;
	position: relative;
}

#page-wrapper #page #main_page #home_panel .home_11col{
	width: 550px;
	display:inline;
	float: left;
	position: relative;
}

#page-wrapper #page #main_page #home_panel .home_12col{
	width: 10px;
	display:inline;
	float: left;
	position: relative;
}

#page-wrapper #page #main_page #home_panel .home_13col{
	width: 240px;
	display:inline;
	float: left;
	position: relative;
}
#page-wrapper #page #main_page #home_panel .home_intro{
	width: 506px;
	padding-left: 22px;
	padding-right: 22px;
	display:inline;
	float: left;
	position: relative;
}

#page-wrapper #page #main_page{
	min-height: 350px;
}
#page-wrapper #page #main_page #home_panel .home_2row{
	width: 800px;
	height: 1px;
	background-color: #9595c2;
	margin-top: 15px;
	display:inline;
	float: left;
	position: relative;
}

#page-wrapper #page #main_page #home_panel .home_31col{
	width: 356px;
	padding-left: 22px;
	padding-right: 22px;
	display:inline;
	float: left;
	position: relative;
}

#page-wrapper #page #main_page #home_panel .home_33col{
	width: 355px;
	padding-left: 22px;
	padding-right: 22px;
	display:inline;
	float: left;
	position: relative;
}
#page-wrapper #page #main_page #home_panel .pane-title{
	font-size: 16px;
	color: #434367;
}

#page-wrapper #page #main_page #home_panel a{
	color: #9595c2;
	font-size:12px;
}

#page-wrapper #page #main_page #home_panel .home_32col{
	width: 1px;
	height: 150px;
	margin-top: 10px;
	background-color: #9595c2;
	display:inline;
	float: left;
	position: relative;
}
#loading_o {
	z-index:1000;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:100%;
	height:1000px;
	background:#fff;
	opacity:0.75;
	-moz-opacity:0.75;
	filter:alpha(opacity=75);
	display: none;
}
#loading_o div{
	z-index:1001;
	position:absolute;
	height: 100px;
	top:0;
	bottom:0;
	left:0;
	opacity:1;
	-moz-opacity:1;
	filter:alpha(opacity=1);
}


#page-wrapper #page #footer2{
	display:inline;
	float: left;
	position: relative;
	width: 960px;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-top: 5px;
	border-top: 1px solid #c2c2cd;
}

#page-wrapper #page .credits img{
	padding-left: 5px;
	padding-bottom: 8px;
}

#page-wrapper #page #footer3{
	display:inline;
	float: left;
	position: relative;
	width: 960px;
	margin-top: 5px;
}

.comment{
	margin-bottom: 10px;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}
.comment .attribution{
	background-color: #9E9EC3;
	color: #FFFFFF;	
	padding-left: 3px;
}
.comment .attribution .comment-permalink{
	display:none;
}

.comment .attribution p{
	display:inline;
	position: relative;
}


.comment .attribution .comment-time{
}

.rate-widget-fivestar ul{
	overflow: visible;
}

.node-blog{
	width:100%;
}
.view-the-latest-blog .views-row{
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.node-blog .user-picture{
	width: 100px;
	display:inline;
	float:left;
	position:relative;
	width:100px;
}

.node-blog .node-content{
	display: inline;
	float: left;
	position:relative;
	width:80%;
	margin-left: 10px;
}

.node-blog .node-content h2{
	margin:0px;	
}

.view-the-latest-blog ul{
	list-style-type:none;
}

.blog_most_post{
	height: 130px;
	width:100%;
}

.blog_most_post .item{
	display: inline;
	width:120px;
	float: left;
	position:relative;
}

.blog_most_post .user_img{
	height: 75px;
	margin-left:10px;
}
.blog_most_post .name{
	width: 120px;
	text-align:center;
}
